@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'roboto display';
}
.navbar {
    background-color: rgb(235, 180, 62) !important;
    box-shadow: 0px 5px 10px rgb(3, 0, 0) !important;
}
.nav-link{
    font-family: 'Roboto display';
    font-size: large;
    font-weight: bolder;
    color: aliceblue !important;
}
.navbar-nav {
    margin-right: 400px;
}
.navbar-brand{
    display: none;
   
}
.navbar-brand img{
    padding-bottom: 7px;
}
.background img{
    height: 100vh;
    object-fit: cover;
    background-size: cover;
}
.background{
    width: 100%;
    height: 100vh;

}
@media (min-width : 992px){

.navbar {
    background-color: transparent !important;
    box-shadow: 0px 5px 10px rgb(3, 0, 0) !important;
}

.nav-link{
    font-family: 'Roboto display';
    font-size: large;
}
.nav-link:hover{
    text-shadow: 0px 10px 10px rgb(186, 255, 25) !important;
}
.navbar-brand{
    font-family: 'Roboto display';
    font-size: x-large;
}
.navbar-brand img{
    padding-bottom: 7px;
}
.background img{
    height: 100vh;
    position : relative;
    width: 100%;
}
.content{
    position: absolute;
    top: 20%;
    left: 10%;
    transform:translate(270px) ;
    text-align: center;
    color: aquamarine;
    text-shadow: 0px 0px 10px rgb(0, 0, 0, 1) !important;
}
.teks h1{
    font-size: xx-large;
}
.teks h2{
    font-size: larger;
}.teks h3{
    font-size: large;
}
.card{
    position: absolute;
    top: 17%;
    left: 3%;
    transform:translate(30px) ;
    z-index: 15;
    
}
.card-text{
   text-align: justify;
}

}