body{
    background-color: #140505;
    background-image: url(assets/images/kon.jpg);
}

.navbar {
    background-color: transparent !important;
    
}
.nav-link{
    color: rgb(20, 23, 26) !important;
    font-family: 'Roboto display';
    font-size: large;
}
.navbar-brand{
    color: rgb(11, 13, 15) !important;
    font-family: 'Roboto display';
    font-size: x-large;
    
}
.nav-link:hover{
    color: rgb(27, 27, 26);
}

.sticky{
    background-color: rgb(252, 249, 66) !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0);
}
.about{
    font-family: 'Roboto';
}

.about h2{
    margin-top: 250px;
}
.about p{
    margin-bottom: 200px;
    text-align: center;
}

.kartu{
    margin-top: 50px;
}

.card{
    width: 50px;
    margin: 20px 30px;
    height: 480px;
    border-style: outset;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.2);
}

.card img:hover{
    filter: brightness(50%);
}

.card a{
    color: #181515;
    font-weight: bold;
}

.card img{
    width: 248px;
    height: 190px;
    margin-left: -12px;
}

.card h5,p{
    margin-left: -10px;
    font-weight: bold;
}

.btn{
    margin-left: -10px;
    margin-top: 40px;
}
.formulir p,h2{
    margin-left: 0px;
    margin-bottom: 10px;
    font-family: 'Roboto';
    text-align: center;
}
.formulir h2{
    margin-top: 100px;
    font-weight: 50px;
}

.formulir p{
    margin-bottom: 20px;
}

.formulir button{
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 0px;
    color: #ffffff;
    font-weight: bold;
}

.formulir input,textarea{
    box-shadow: 0px 0px 5px rgb(0,0,0,0.2);
}

label{
    font-weight: bold;
}